<% include ../partials/header %>


<div class="container">
	<div class="row">

		<div class="col-md-3">
		
			<div class="list-group">
				<a href="/movies"> <li class="list-group-item list-group-item-action"> Back to All Movies</li> </a>
				<a href="#comments"> <li class="list-group-item list-group-item-action"> Comments </li> </a>
	
			</div>
		</div>
	
		<div class="col-md-6">
			<div class="card">
				<div class="caption">
					<h4 class="float-right"> Rating Goes Here</h4>
					<h4><a> <%= movie.title %> </a></h4>
					<img  class="card-img-top" src="<%=movie.image%>">
					<hr>	
					<p class="card-text"><%=movie.description%></p>
					<p> 
						<em>Submitted By <%= movie.author.username%> on <%=movie.added.toDateString()%></em> 
					</p>
			
					<% if(currentUser && movie.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-sm btn-success" href="/movies/<%= movie._id%>/edit"> Edit </a>
						<form class="delete-form" action="/movies/<%= movie._id%>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger">Delete </button>
						</form>
					<% } %>
				</div>
			</div>
		</div>
	</div>

	<div id="comments" class="card">
			<div class="text-right">
				<a class="btn btn-info" href="/movies/<%= movie._id%>/comments/new"> Add New Comment</a>
			</div>
			<hr>
		<% for (var i = 0; i < movie.comments.length; i++) { -%>
			<div>
			  <div class="float-right"> <em><%= movie.comments[i].posted.toLocaleString("en-US") %> </em></div>
			  <strong> <%= movie.comments[i].author.username %>  </strong>
			 </div>
			  
			
			
			<p class="card-text"> <%= movie.comments[i].text %>  </p>
			<% if(currentUser && movie.comments[i].author.id.equals(currentUser._id)){ %>
				<div> 
					<a class="btn btn-sm btn-success" href="/movies/<%= movie._id%>/comments/<%= movie.comments[i]._id%>/edit">
					 EDIT 
					</a>
					<form action="/movies/<%= movie._id%>/comments/<%= movie.comments[i]._id%>?_method=DELETE" method = "POST" class="delete-form">
						<button class="btn btn-sm btn-danger"> Delete</button>
					</form>
				</div>
				<hr>
			<% } %>

		<% } -%>
	</div>


</div>

<% include ../partials/footer %>